body{
    background-color:rgba(3, 3, 58, 0.959) ;
    color: white;
    font-family: "Story Script", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(49, 39, 184);
    color:azure;
    font-family: "Story Script", sans-serif;
}